.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: auto 20px;
}

.box {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    color: var(--light);
}

.box__header {
    padding: 5px;
    text-align: center;
}

.box__body {
    padding: 5px;
    text-align: center;
}

.box__footer {
    padding: 5px;
    text-align: center;
}

.box__image {
    height: auto;
    width: 425px;
}

.box__color1 {
    background: var(--purple);
}

.box__color2 {
    background: var(--orange);
}

.box__color3 {
    background: var(--blue);
} 



